body, body a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #f6f7fb;
    color: var(--ink-900);
    line-height: 1.5;
    text-decoration: none;
}


.flash-container {
    padding: 8px;
    border-radius: 6px;
}


.flash-container p {
    margin: 0px;
}


.success {
    background-color: rgb(47, 191, 47);
}


.error {
    background-color: crimson;
}


main {
    margin: 10px;;
}


.student-table table, td{
    border: 1px solid #282525;
    border-collapse: collapse;
}


.student-table td {
    padding: 3px;
}
