{% extends "base.html" %}

{% block content %}

<form method="POST">
    <label>Name:</label><br/>
    <input type="text" name="student_name" title="student_name"><br/>
    
    <label>Date Of Birth:</label><br/>
    <input type="date" name="student_date_of_birth" title="student_date-of_birth"><br/>

    <label>Grade:</label><br/>
    <input type="number" name="student_grade" title="student_grade"><br/>

    <label>Subjects</label><br/>
    <select name="student_subjects" title="student_subjects" multiple required>
        {% for subject in subject_options %}
        <option value="{{ subject }}">{{ subject }}</option>
        {% endfor %}
    </select><br/>
    <button type="submit">Add Student</button>
</form>


<div class="student-table">
<table>
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Date Of Birth</td>
        <td>Grade</td>
        <td>Subjects</td>
        <td>Created At</td>
        <td colspan="2">Action</td>
    </thead>
    <tbody id="students-table-body">
    </tbody>
</table>
</div>

{% endblock %}
