{% extends "base.html" %}

{% block content %}

<div class="add-student-form">
<form method="POST">
    <label>Name:</label><br/>
    <input type="text" name="student_name" title="student_name"><br/>
    
    <label>Date Of Birth:</label><br/>
    <input type="date" name="student_date_of_birth" title="student_date-of_birth"><br/>

    <label>Grade:</label><br/>
    <input type="number" name="student_grade" title="student_grade"><br/>

    <label>Subjects</label><br/>
    <input type="text" name="student_subjects" title="student_subjects" id="subject-options" readonly><br/>
    <button type="submit">Add Student</button>
</form>
</div>


{% endblock %}
