{% extends "base.html" %}

{% block content %}

<form method="POST" id="edit-student-form" data-student-id="{{ student_id }}">
    <label>Student ID:</label>
    <input name="student_id" title="student_id" readonly><br/>

    <label>Name:</label>
    <input name="student_name" title="name"><br/>

    <label>Date Of Birth:</label>
    <input name="student_date_of_birth" type="date" title="date_of_birth"><br/>

    <label>Grade:</label>
    <input name="student_grade" title="grade"><br/>

    <label>Subjects:</label>
    <input id="edit-subject-display" title="edit-subject-display" readonly placeholder="Choose subjects"><br/>

    <label>Created At:</label>
    <input name="created_at" title="created_at" readonly><br/>

    <button type="submit">Update</button>
</form>

<dialog id="edit-student-subject-modal">
    <h3>Select Subjects</h3>
    {% for subject in subject_options %}
    <label class="subject-option">
        <input type="checkbox" name="student_subjects" value="{{ subject }}" form="edit-student-form">
        {{ subject }}
    </label>
    {% endfor %}

    <div class="dialog-actions">
        <button type="button" id="edit-modal-confirm-subjects-btn">Confirm</button>
        <button type="button" id="edit-modal-close-subjects-btn">Close</button>
    </div>
</dialog>

{% endblock %}
